<!doctype html>
<html>
  <head>

    <script type="application/javascript">
      {{js}}
    </script>

    <style type="text/css">
      {{css}}
    </style>

  </head>
  <body>
    #content#
  </body>
</html>